{
	"env": {
		"node": true,
		"browser": true,
		"es2021": true,
		"jest": true
	},
	"extends": ["eslint:recommended", "plugin:react/recommended", "airbnb", "prettier"],
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"ecmaFeatures": {
			"jsx": true
		},
		"ecmaVersion": "latest",
		"sourceType": "module"
	},
	"plugins": ["react", "@typescript-eslint"],
	"settings": {
		"react": {
			"pragma": "React",
			"version": "16.12.0"
		},
		"import/resolver": {
			"node": {
				"extensions": [".js", ".jsx", ".ts", ".tsx"]
			}
		}
	},
	"rules": {
		"react/jsx-filename-extension": [1, {"extensions": [".tsx", ".ts"]}],
		"import/extensions": [
			"error",
			"ignorePackages",
			{
				"js": "never",
				"jsx": "never",
				"ts": "never",
				"tsx": "never"
			}
		]
	}
}
